<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="{% url "index" %}">Course App</a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                    
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "index" %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "index" %}">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_course' %}">Admin Create Course</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'course_list' %}">Admin Course List</a>
                    </li>
                    

                </ul>

                <ul class="navbar-nav me-2">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "user_login" %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "user_register" %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_logout' %}">Logout</a>
                    </li>
                
            </div>
                

            </ul>

            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                    <form class="d-flex" action="{% url 'search' %}" method="get">
                        <input class="form-control me-1" type="text" placeholder="Search" name="q" aria-label="Search"/>
                        <button class="btn btn-outline-success" type="submit">Arama</button>
                    </form>
                </div>
            </nav>

                
        </div>

    </nav>