{% extends 'layout.html' %}

{% load static %}



{% block content %}
    <div class="container mt-3">
        <div class="row">
           <div class="col-12">

                <table class="table table-sm table-bordered">
                    <thead>
                        <tr>
                            
                            <th scope="col">#</th>
                            <th scope="col">Image</th>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Slug</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in courses %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                               <img src="{{ course.image.url }}" class="img-fluid" alt="{{ course.title }}" style="max-width: 100px;">
                            </td>
                            <td>{{ course.title }}</td>
                            <td>{{ course.description }}</td> 
                            <td>{{ course.slug }}</td>
                            <td>
                                <!-- Add action buttons here, e.g., Edit, Delete -->
                                <a href="{% url 'course_details' slug=course.slug %}" class="btn btn-primary btn-sm">View</a>
                                <a href="{% url 'course_edit' slug=course.slug %}" class="btn btn-secondary btn-sm">Edit</a>
                                <a href="{% url 'course_delete' slug=course.slug %}" class="btn btn-danger btn-sm">Delete</a>

                                <!-- You can add more actions like Edit or Delete if needed -->
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                

                
                    
            </div>

        </div>
            

        </div>
    </div>
{% endblock %}

{% block title %} {{course.title}} {% endblock %}