{% extends 'layout.html' %}

{% load static %}



{% block content %}
    <div class="container mt-3">
        <div class="row">
           <div class="col-12">
            
                {% if error %}
                    <div class="alert alert-danger">
                        Formu Eksiksiz Doldurunuz!
                    </div>
                {% endif %}

                <form action="{% url 'create_course' %}" method="POST">
                    {% csrf_token %}

                    {{form.as_p}}
                    
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Kursu Oluştur</button>

                    </div>
                    
                    



                </form>


            
            </div>


        </div>
            

        </div>
    </div>

{% endblock %}

{% block title %} Create Course {% endblock %}