{% extends 'layout.html' %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-3">

                
                
                {% include 'courses/partials/_categories.html' %}

            </div>
            
            <div class="col-9">

                {% for course in courses %}
                    {% if course.isActive %}
                        {% include 'courses/partials/_course.html' %}
                    
                    {% else %}
                        <div class="alert alert-danger" role="alert">
                            {{ course.title }} kursu aktif değildir.
                        </div>
                    {% endif %}
                    
                    
                {% endfor %}



            </div>

        </div>
    </div>
{% endblock %}

{% block title %} Kurslar {% endblock %}